@import '../../variables.css';

.loading {
    border: 6px solid var(--loader-background);
    border-top: 6px solid var(--loader-foreground);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 24px auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}