@import url('https://fonts.cdnfonts.com/css/arco-perpetuo');

:root {
  --default-font-family: 'Arco Perpetuo', sans-serif;
  --page-background: #E5E5E5;
  --panel-background: #FFFFFF;
  --panel-border: #F2EFEA;
  --text-primary: #30262D;
  --text-secondary: #A6A4A2;
  --input-background: #F8F7F4;
  --input-background-focus: #FFFFFF;
  --input-border: #F2EFEA;
  --input-border-focus: #A6A4A2;
  --button-primary-background: #66D7D1;
  --button-primary-background-hover: #3AA09B;
  --button-primary-foreground: #FFFFFF;
  --loader-background: #CCCCCC;
  --loader-foreground: #66D7D1;
  --font-size-regular: 16px;
  --font-size-small: 14px;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --radius-regular: 8px;
}